SECRET_KEY=change-this-to-a-long-random-string-in-production
MYSQL_HOST=yamabiko.proxy.rlwy.net
MYSQL_USER=root
MYSQL_PASSWORD=Zvirisei!team09?
MYSQL_DB=hr_system
MYSQL_PORT=3306

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_16_digit_app_password
SMTP_USE_TLS=True
SMTP_USE_SSL=False